*{
    color: #643B7A;
    /* rgb(100, 59, 122) */
    
    color: #B04BC4;
    /* rgb(176, 75, 196) */

    color: #4A73AD;

    /* rgb(74, 115, 173) */

    color: #38b3e5;
    /* rgb(56, 179, 229) */

    color: #4AD3B8;
    /* rgb(74, 211, 184) */

    color: #B9BFFF;
    /* RGB: (185, 191, 255) */

    color: #22277A;
    /* RGB: (34, 39, 122) */

    color: #8B74BD;
    /* RGB: (139, 116, 189) */
}